@tailwind base;
@tailwind components;
@tailwind utilities;


*{
    color: #fff;
}

body{
    background-color: black;
}

#Alltask::-webkit-scrollbar{
    display: none;
}
#tasklist::-webkit-scrollbar{
    display: none;
}